<section class="section">
  <div class="container">
    <div class="notification is-warning">
      <button class="delete"></button>
      <p class="title is-5">Atenção!</p>
      Ainda não é possível apagar times ou remover usuários de um time.
      Crie o seu time com cuidado!
    </div>
    <div class="heading">
      <h1 class="title">Editar Time</h1>
    </div>

    <%= render 'form', team: @team %>
  </div>
</section>
