<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Regras</p>
      <button class="delete"></button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <%= raw(@competition.instructions.rules.text) %>
      </div>
    </section>
    <footer class="modal-card-foot">
      <%= form_for [@competition, @acceptance], html: { class: 'is-fullwidth' } do |f| %>
        <%= f.submit class: 'button is-primary is-fullwidth', value: 'Confirmo que li e concordo com as regras' %>
      <% end %>
    </footer>
  </div>
</div>
