<div class="block has-text-centered">
  <div class="columns">
    <div class="column">
      <%= link_to user_facebook_omniauth_authorize_path, class: 'button facebook-button is-medium is-fullwidth' do %>
        <span class="icon is-medium"><i class="fa fa-facebook"></i></span>
      <% end %>
    </div>
    <div class="column">
      <%= link_to user_linkedin_omniauth_authorize_path, class: 'button linkedin-button is-medium is-fullwidth' do %>
        <span class="icon is-medium"><i class="fa fa-linkedin"></i></span>
      <% end %>
    </div>
    <div class="column">
      <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'button google-button is-medium is-fullwidth' do %>
        <span class="icon is-medium"><i class="fa fa-google-plus"></i></span>
      <% end %>
    </div>
  </div>
</div>
