<section class="section">
  <div class="container">
    <div class="heading">
      <h1 class="title">Nova Competição</h1>
    </div>

    <%= render 'form', competition: @competition %>
  </div>
</section>
