<section class="hero is-primary is-large is-fullheight header-image">
  <div class="hero-body">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-4 is-parent">
          <div class="tile is-child">
            <%= image_tag 'logo-inverse.png', class: 'image' %>
          </div>
        </div>
        <div class="tile is-vertical is-parent">
          <div class="tile is-child has-text-centered">
            <h1 class="title is-1"><span id="home-chtext"></span> que movem o mundo</h1>
            <div class="spacing-20"></div>
            <h2 class="title is-3">Datoca é a sua plataforma para solução</h2>
            <h2 class="subtitle is-3">de desafios utilizando Ciência de Dados</h2>
          </div>
          <div class="tile is-child has-text-centered">
            <div class="control is-grouped is-centered">
              <p class="control">
                <%= link_to 'Competir', competitions_path, class: 'button is-primary is-large is-outlined' %>
              </p>
              <p class="control">
                <%= link_to 'Cadastrar', competitions_path, class: 'button is-success is-large is-outlined' %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="section main">
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <div class="tile is-parent">
          <div class="tile is-4 is-child">estudante</div>
          <div class="tile is-4 is-child">
            <p class="title">Escolha um desafio</p>

            Se você já é um expert dispute uma de nossas competições.

            Se ainda é um aprendiz, dê uma checada em nossos desafios de aprendizagem!
          </div>
          <div class="tile is-4 is-child">expert</div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-8 is-child">
            <p class="title">Baixe e analise os dados</p>

            Entenda quais tipos de dados estão a sua disposição
          </div>
          <div class="tile is-4 is-child">dados</div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-4 is-child">solucao</div>
          <div class="tile is-8 is-child">
            <p class="title">Encontre soluções</p>

            Utilize técnicas e tecnologias de sua preferência para desenvolver a melhor solução!
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-4 is-child">podio</div>
          <div class="tile is-4 is-child">
            <p class="title">Seja reconhecido</p>
            <p>Já conquistou seu lugar no pódio? Batalhe pelas premiações!</p>
            <p>Concluiu um desafio de aprendizagem? Obtenha nossas certificações!</p>
          </div>
          <div class="tile is-4 is-child">certificado</div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        © 2016 by Exemplaria Solutions.
      </p>
    </div>
  </div>
</footer>
