
$family-sans-serif: 'Cabin', sans-serif;

$primary: #645e9d;
$info: #4faec1;
$success: #6ddb90;
$warning: #ecff9b;
$danger: #ff1654;

@import "bulma";

@import 'https://fonts.googleapis.com/css?family=Cabin';

$fa-font-path: "/assets/fontawesome/fonts";
@import 'fontawesome.scss';

@each $name, $pair in $colors {
  $color: nth($pair, 1);
  .has-text-#{"" + $name} {
    color: $color;
  }
  a.has-text-#{"" + $name} {
    &:hover,
    &:focus {
      color: darken($color, 10%);
    }
  }
}

.notifications {
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 1024 + 233;
  pointer-events: none;
  @include tablet() {
    max-width: 320px;
  }
  .notification {
    margin: 20px;
  }
}

.notification {
  position: relative;
  min-width: 240px;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  pointer-events: all;
}
