.header-image {
  background: linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.92)), image-url("home.jpeg") center center no-repeat fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.icon-block {
  font-size:5em;
}

.hero.header-image.is-primary > .hero-head > .nav {
  box-shadow: 0 0 0 rgba(0,0,0,0);
}

#bouncing-arrow {
  animation: bounce 2s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
